body {
  background-color: lightgreen;
  /* Smoothly transition the background color */
  transition: background-color .5s;
  margin-top: -10px;
}

.player {
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.details {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.track-art {
  position: relative;
  display: block;
  margin: 30px auto;
  width: 140px;
  height: 140px;
  border-radius: 50%;
  background: black;
  background-image: url("images/ukulele.jpg");
  background-size: cover;
  box-shadow: 0 0 0 10px rgba(255,255,255,0.1);
  animation: rotate 20s linear infinite;
  animation-play-state: paused;
}
.track-art.play{
  animation-play-state: running;
  }
  
.track-art::before{
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 30px;
      height: 30px;
      border-radius: 50%;
      background: rgba(100, 187, 224, 0.712);
  }


.now-playing {
  font-size: 0.8rem;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: rgb(83, 77, 77);
  font-style: italic;
  text-transform: lowercase;  
}
  

.track-name {
  font-size: 2rem;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: 500;
  margin-bottom: 10px;  
  color: black;
  text-transform:uppercase;
}

.track-artist {
  font-size: 1.5rem;
  color: rgb(83, 77, 77);
}

.buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.playpause-track, .prev-track, .next-track {
  padding: 25px;
  opacity: 0.8;
  transition: opacity .2s;
}

.playpause-track{
    border-radius: 50%;
    cursor: pointer;
    border: none;
}

.playpause-track.pause{
animation: pulse 2s linear infinite;
}

.playpause-track:hover, .prev-track:hover, .next-track:hover {
opacity: 1.0;
}

.slider_container {
  width: 75%;
  max-width: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Modify the appearance of the slider */
.seek_slider, .volume_slider {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  height: 5px;
  background: rgb(83, 77, 77);
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

/* Modify the appearance of the slider thumb */
.seek_slider::-webkit-slider-thumb, .volume_slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 10px;
  height: 15px;
  background: black;
  cursor: pointer;
}

.seek_slider:hover, .volume_slider:hover {
  opacity: 1.0;
}

.seek_slider {
  width: 100%;
}

.volume_slider {
  width: 30%;
  margin: 30px;
}

.current-time, .total-duration {
  padding: 10px;
}

i.fa-volume-down, i.fa-volume-up {
  padding: 10px;
}

i.fa-play-circle, i.fa-pause-circle, i.fa-step-forward, i.fa-step-backward {
  cursor: pointer;
}

@keyframes pulse{
  0%{
      box-shadow: 0;
  }
  50%{
      box-shadow: 0 0 0 5px rgba(255,255,255,0.2);
  }
  100%{
      box-shadow: 0 0 0 5px rgba(76, 99, 152, 0.5);
  }
}

@keyframes rotate{
  0%{
      transform: rotate(0);
  }
  100%{
      transform: rotate(360deg);
  }
}

